$color-bg-header: #161b22;
$color-bg-primary: #010409;
$color-font-primary: #8b949e;
$color-font-header: #c9d1d9;
$color-link-blue: #58a6ff;
$color-border: #30363d;
$color-border-blue: #58a6ff;
$radius: 0.3rem;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

input {
	background-color: $color-bg-primary;
	border: 1px solid $color-border;
	padding: 0.31rem 0.75rem;
	border-radius: $radius;
	color: $color-font-primary;
}

input:focus {
	border: 1px solid $color-border-blue;
}

input:active {
	border: 1px solid $color-border-blue;
}

::placeholder {
	color: #272c33;
}

.avatar {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”,
		“Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
	font-size: 16px;
	background-color: $color-bg-primary;
	color: $color-font-primary;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {
	header.header-main {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 5rem 1fr;
		background-color: $color-bg-header;

		.mobile-bars {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			width: 1.5rem;
			justify-self: center;
			align-self: center;
			fill: white;
		}

		.logo {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			height: 2rem;
			justify-self: center;
			align-self: center;
			fill: #fff;
		}

		form.header--form {
			outline: 1px dashed red;
			display: none;
		}

		.main-nav {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			display: none;
		}

		.user-nav {
			grid-column: 3 / 4;
			grid-row: 1 / 2;
			justify-content: end;
			display: flex;

			svg {
				height: 1em;
				fill: white;
			}

			.user-nav--item {
				display: flex;
				justify-content: center;
				align-items: center;
				// outline: 1px dashed red;
				margin-right: 1rem;
				display: none;

				&:first-child {
					display: flex;
				}
			}
		}
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
